spring:
  application:
    name: libraryapi
  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate.format_sql: true
    open-in-view: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 61614133662-psjaq7c2tm0cc6qe4kd3fkvvcdps3ijr.apps.googleusercontent.com
            client-secret: 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